.main-cards-middle {
  width: 360px;
  height: 387.2px;
  background-color: #fff;
  padding: 30px 26px;
  margin-bottom: 30px;
  position: relative;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
  /* overflow: hidden; */
  box-sizing: border-box;
}

.main-cards-middle-head {
  
}

.main-cards-middle-mood {
  display: inline-block;
}

.main-cards-middle-txt {
  width: 221.15px;
  height: 32.2px;
  color: #202020;
  font-size: 20px;
  margin-bottom: 19px;
  display: block;
}

.main-cards-middle-list-wrap {
  display: flex;
  width: 308px;
  height: 276px;
  gap: 12px;
  flex-direction: column;
}

.main-cards-middle-list {
  font-size: 13px;
  background-color: rgb(245, 245, 244);
  border-radius: 6px;
  display: list-item;
  position: relative;
}

.main-cards-middle-list-box {
  box-sizing: border-box;
  height: 60px;
}

.main-cards-middle-list-link {
  display: flex;
  align-items: center;
  width: 308px;
  height: 100%;
  flex-shrink: 0;
}

.main-cards-middle-list-img1 {
  width: 60px;
  height: 60px;
  background: url("../images/img\ \(1\).png") 50% 50% / cover no-repeat;
  /* 그림 잘리지않도록 해줌 */
  border-radius: 6px;
  flex-shrink: 0;
  /* 지정한 사이즈로 그림 사이즈 맞춰줌 */
}
.main-cards-middle-list-img2 {
  width: 60px;
  height: 60px;
  background: url("../images/img\ \(5\).png") 50% 50% / cover no-repeat;
  /* 그림 잘리지않도록 해줌 */
  border-radius: 6px;
  flex-shrink: 0;
}
.main-cards-middle-list-img3 {
  width: 60px;
  height: 60px;
  background: url("../images/img\ \(2\).png") 50% 50% / cover no-repeat;
  /* 그림 잘리지않도록 해줌 */
  border-radius: 6px;
  flex-shrink: 0;
}
.main-cards-middle-list-img4 {
  width: 60px;
  height: 60px;
  background: url("../images/img\ \(3\).png") 50% 50% / cover no-repeat;
  /* 그림 잘리지않도록 해줌 */
  border-radius: 6px;
  flex-shrink: 0;
}

.main-cards-middle-txt-wrap {
  width: 100%;
  padding: 0px 16px;
  overflow: hidden;
  flex-direction: column;
  box-sizing: border-box;
}
.main-cards-middle-list-text {
  display: block;
  font-size: 15px;
  color: #444444;
  line-height: 1.73;
}

.main-cards-middle-list-num {
  display: block;
  font-size: 13px;
  color: #888888;
  line-height: 1.5;
}

/* 반응형 */
@media all and (max-width: 767px) {
  .main-cards-middle {
    width: 100%;
    height: 382px;
    margin-bottom: 20px;
    padding: 27px 20px 30px;
    
  }
  .main-cards-middle-head {
    display: block;
  }
  .main-cards-middle-list-wrap {
    width: 100%;
  }
  .main-cards-middle-list {
    height: 100%;
  }
  .main-cards-middle-list-link {
    height: 60px;
  }
}
