@charset "utf-8";

@font-face {
  font-family: "KakaoBig regular";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-regular.woff2) format("woff2"), url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-regular.woff) format("woff");
}
@font-face {
  font-family: "KakaoBig Bold";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-bold.woff2) format("woff2"), url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-bold.woff) format("woff");
}

* {
  margin: 0px;
  padding: 0px;
  outline-style: none;
  box-sizing: border-box;
}
a {
  color: #000000;
  text-decoration: none;
}
html {
  overflow-x: hidden;
  font-size: 16px;
}
body {
  font-family: "Inter", "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
}
.wrap {
  position: relative;
  padding-top: 70px;
  margin: 0 auto;
  /* 헤더 상단 고정을 위해 간격 줌 */
  background-color: #f7f7f7;
}
.inner {
  max-width: 1120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.br-10 {
  border-radius: 10px;
}
.br-20 {
  border-radius: 20px;
}
.shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
span,
p,
div {
  font-family: "KakaoBig regular";
}
h2,
strong,
a {
  font-family: "KakaoBig Bold";
}
