.footer {
  padding: 40px 0 45px;
  border-top: 1px solid rgb(238, 238, 238);
}
.footer .inner {
  height: 100%;
  /* margin: 0 auto; */
  align-items: flex-start;
  flex-direction: column;
}

.footer-logo {
}

.footer-logo img {
  width: 115px;
  height: 18px;
  display: block;
}

.footer-info {
  padding: 16px 0 18px;
  font-size: 14px;
  color: #444444;
  /* 글자 색상 왜 안바뀌지?? */
}

.footer-bottom {
  /* background-color: beige; */
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  /* gap: 575.91px; */
}

.footer-bottom-sitemap-list {
  display: flex;
  align-items: center;
  width: 409.13px;
  height: 32.01px;
}

.footer-bottom-sitemap {
  display: flex;
  align-items: center;
}

.footer-bottom-sitemap-link {
  display: inline-block;
}

.footer-bottom-sitemap-txt {
  display: inline-block;
  padding: 6px 0px;
  font-size: 13px;
  color: #444444;
}

.footer-bottom-sitemap-txt-hidden {
  display: inline-block;
  padding: 6px 0px;
  font-size: 13px;
  color: #444444;
}

.sitemap-list-dot {
  display: block;
  margin: 7px;
}

.sitemap-list-dot-hidden {
  display: block;
  margin: 7px;
}

.footer-bottom-sns-list {
  width: 110px;
  height: 32.01px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-bottom-sns {
  width: 30px;
  height: 32.01px;
}

.footer-bottom-sns-link {
  display: inline-block;
}

.footer-bottom-sns-txt {
  width: 30px;
}

.mb-footer-bottom-txt {
  display: none;
}

@media all and (max-width: 768px) {
  .footer {
    width: 100%;
    height: 251.3px;
    padding: 27px 20px 29px;
  }
  .footer .inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .footer-logo {
    margin: 0 auto;
    display: flex;
  }
  .footer-logo img {
    margin-top: 0;
    width: 100px;
    height: 16px;
  }
  .footer-info {
    padding: 10px 0 16px;
    margin: 0 auto;
  }
  .footer-bottom {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* 아이템들 수직 방향 정렬 */
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    gap: 16px;
    border-top: 1px solid rgb(238, 238, 238);
  }
  .footer-bottom-sitemap-list {
  }

  .footer-bottom-sitemap-txt {
    display: flex;
  }

  .footer-bottom-sitemap-txt-hidden {
    display: none;
  }

  .sitemap-list-dot-hidden {
    display: none;
  }

  .mb-footer-bottom-txt {
    display: flex;
  }

  .mb-footer-bottom-hidden {
    font-size: 12px;
    color: #444444;
  }
}
