.footer {
}
.footer .inner {
  height: auto;
  justify-content: space-between;
  margin: 0 27.5px;
}
.footer-left {
  background: #f7f7f7;
}
.footer-info {
  padding: 16px 0px 18px;
  color: #666666;
}
.footer-logo {
  display: block;
}
.footer-logo img {
  width: 115px;
  height: 18px;
}
.footer-left-sitemap {
  display: flex;
}
