.header {
  display: flex;
  position: fixed;
  /* 헤더 상단고정(html 태그로 인식 못하게 만들기 때문에 wrap으로 위치 잡아줘야함) 
  웹 브라우저의 영역으로 생각하고, body 내부의 코드라고 인식 안함*/
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: solid 1px #eeeeee;
}
.header .inner {
  width: 1120px;
  height: 70px;
  justify-content: space-between;
}
.header-logo {
}
.header-logo-img {
  width: 115px;
  height: 70px;
}
.header-menu {
}
.header-menu-list {
  display: flex;
  gap: 28px;
}
.header-menu-point {
}
.header-navi {
}
.navi-list {
}
.navi-userprofile {
}
.navi-search {
}
.navi-menu {
  background: url("../images/icon-hbr.png");
  padding: 8px;
  background-size: contain;
}
