.main-news-top {
  width: 700px;
  height: auto;
  line-height: 1.5;
}
.main-news-top-banner {
  width: 100%;
  height: 250px;
  display: block;
  margin-bottom: 30px;
  background-size: contain;
}

.main-news-top-imminent {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  padding: 24px 30px 32px;
  background-color: white;
  position: relative;
}

.main-news-top-imminent-title {
  height: 28px;
  font-size: 20px;
}

.main-news-top-imminent-subtitle {
  height: 28px;
  padding-top: 4px;
  font-size: 15px;
  color: #666666;
}

.imminent-inner {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin: -12px 0px;
  padding-top: 20px;
}

.imminent-img {
  width: 280px;
  height: 168px;
  /* overflow: hidden; */
  background: url("../images/c1400x960\(11\).jpg") no-repeat center;
  background-size: cover;
  border-radius: 10px;
  position: relative;
}
.imminent-img-endimmin {
  position: absolute;
  top: 131px;
  left: 10px;
  width: 58.5px;
  height: 26.99px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px 5px;
  background-color: #ff4050;
  font-size: 11px;
  color: white;
  border-radius: 5px;
}

.imminent-img-top {
  position: absolute;
  width: 280px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #202020;
  font-size: 14px;
  color: #c9c9c9;
  top: 90px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 99;
}

.imminent-contents {
  width: 335px;
  padding-left: 25px;
}

.imminent-title {
  font-size: 18px;
}

.imminent-numbox-line {
  position: absolute;
  width: calc(100% - 15px);
  height: 1px;
  background-color: #202020;
}

.imminent-numbox {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 3px;
  font-size: 14px;
  color: #c9c9c9;
}

.imminent-num {
  width: 16px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2px;
  background-color: #444444;
  font-size: 18px;
  font-weight: 700;
  border-radius: 1.5px;
}

.imminent-num:hover {
}

.imminent-contents .gaugebar {
  width: 100%;
  height: 4px;
  display: flex;
  align-items: center;
  margin-top: 12px;
  background-color: #e9e9e9;
}

.imminent-contents .gaugebar .gauge {
  width: 93%;
  height: 4px;
  background-color: red;
}

.imminent-contents-textbox {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.imminent-contents-textbox-top {
  height: 21.98px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #202020;
}

.imminent-contents-textbox-bottom-left {
  height: 20.02px;
  font-size: 12px;
  color: #ff4050;
}

.imminent-contents-textbox-bottom-right {
  height: 20.02px;
  display: flex;
  justify-content: right;
  color: #444444;
  font-size: 12px;
}

.imminent-buttons {
  width: 335px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.imminent-buttons button {
  width: 163px;
  height: 40px;
  align-items: center;
  padding: 0 18px;
  border: 1px solid rgba(238, 238, 238, 1);
  background-color: white;
  font-size: 14px;
  border-radius: 5px;
}

.left-buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-buttons img {
  margin: 0px 9px 0px -16px;
  transform: scale(0.8);
}
.imminent-popup-text {
  display: none;
}
.imminent-popup-tail {
  position: absolute;
  top: 20px;
  left: 17px;
  width: 0px;
  height: 0px;
  border-bottom: 10px solid #202020;
  border-right: 7.81px solid transparent;
  border-left: 7.81px solid transparent;
  opacity: 0;
  transition: 0.5s;
}
.imminent-popup-text {
  position: absolute;
  overflow: hidden;
  top: 26px;
  bottom: 0px;
  width: 145px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  font-size: 12px;
  color: #ffffdb;
  border-radius: 5px;
  opacity: 0;
  transition: 0.5s;
}
.main-news-top-mostfund {
  margin-bottom: 30px;
  padding: 24px 30px 32px;
  background-color: white;
}
.mostfund-title {
  font-size: 20px;
  color: #202020;
}
.mostfund-subtitle {
  display: block;
  align-items: center;
  padding-top: 4px;
  font-size: 15px;
  color: #666666;
}
.mostfund-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  gap: 20px;
}
.mostfund-box {
}
.mostfund-img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-size: contain;
  border-radius: 15px;
}
.mostfund-textbox {
  margin: 0 auto;
  padding-top: 12px;
}
.mostfund-content {
  display: block;
  font-size: 14px;
  color: #202020;
}
.mostfund-sub {
  display: block;
  margin-top: 2px;
  font-size: 12px;
  color: #888888;
}
.mostfund-bottom {
  margin-top: 20px;
  padding-top: 8px;
}
.mostfund-text {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
  font-size: 12px;
}
.main-news-top-timelimited {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  padding: 24px 30px 32px;
  background-color: white;
  position: relative;
}
.time-limited-title {
  width: 100%;
  height: 33.4px;
  font-size: 20px;
  color: #202020;
}
.time-limited-subtitle {
  width: 100%;
  height: 28px;
  padding-top: 4px;
  font-size: 15px;
  color: #666666;
}
.time-limited-img {
  width: 280px;
  height: 168px;
  background: url("../images/c1400x960\ \(8\).jpg") no-repeat center;
  background-size: cover;
  border-radius: 10px;
  position: relative;
}
.time-limited-img-top {
  position: absolute;
  z-index: 999;
  top: 93px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 280px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-size: 18px;
  color: #fff;
  gap: 5px;
}
.time-limited-clock {
  width: 20px;
  height: 20px;
  background-color: #ff4050;
  border-radius: 50%;
  position: relative;
}
.time-limited-clock-hour {
  width: 6px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 9px;
  left: 9px;
  border-radius: 5px;
}
.time-limited-clock-axis {
  width: 2px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 9px;
  left: 8.5px;
  border-radius: 5px;
}
.time-limited-clock-minite {
  width: 6px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 2.4px;
  right: -2px;
  rotate: 270deg;
  border-radius: 5px;
}
.time-limited-clock .time-limited-clock-axis {
  transform: rotate(360deg);
  transition: all 1s ease-in;
}
.time-limited-popup-tail {
  position: absolute;
  top: 20px;
  left: 17px;
  width: 0px;
  height: 0px;
  border-bottom: 10px solid #202020;
  border-right: 7.81px solid transparent;
  border-left: 7.81px solid transparent;
  opacity: 0;
  transition: 0.5s;
}
.time-limited-popup-text {
  position: absolute;
  overflow: hidden;
  top: 26px;
  bottom: 0px;
  width: 145px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  font-size: 12px;
  color: #ffffdb;
  border-radius: 5px;
  opacity: 0;
  transition: 0.5s;
}
.tags-title {
  width: 100%;
  height: auto;
  display: flex;
  gap: 7px;
  margin: 13px 0px 21px;
}
.tags {
  width: auto;
  height: auto;
  padding: 7px 14px;
  border: 1px solid rgba(238, 238, 238, 1);
  font-size: 14px;
  border-radius: 20px;
}
.tags:hover {
  background-color: black;
  color: white;
}
@media all and (max-width: 767px) {
  .main-news-top {
    width: 100%;
  }
  .main-news-top-banner {
    width: 100%;
    max-width: 727px;
    height: 94.78vw;
    max-height: 727px;
    background-size: contain;
  }
  .main-news-top-imminent {
  }
  .imminent-inner {
    flex-wrap: wrap;
  }
  .imminent-img-top {
    width: 100%;
    position: inherit;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
  }
  .imminent-img {
    width: 100%;
    height: 45.52vw;
    /* 349px / 767px * 100 = 45.52 */
    max-height: 349px;
  }
  .imminent-img-endimmin {
    top: calc(90%);
  }
  .imminent-contents {
    padding: 0;
    margin-top: 10px;
    width: 100%;
    max-width: 687px;
    height: 100%;
    max-height: 156px;
  }
  .imminent-title {
    font-size: 16px;
  }
  .imminent-contents .gaugebar {
    height: 6px;
  }
  .imminent-contents .gaugebar .gauge {
    height: 6px;
  }
  .imminent-buttons {
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    margin: 0;
    max-height: 56px;
    height: 7.3vw;
  }
  .imminent-buttons button {
    width: 100%;
  }
  .main-news-top-mostfund {
    width: 100%;
    height: 447px;
    /* height: 58.8vw;
    max-height: 451px; */
    overflow-y: hidden;
  }
  .mostfund-inner {
    width: 100%;
    max-height: 328px;
    height: 42.76vw;
    display: block;
  }
  .mostfund-box {
    display: flex;
    width: 100%;
    height: 86px;
    margin-top: 16px;
  }
  .mostfund-img {
    width: 124px;
    height: 86px;
    margin: 0;
  }
  .mostfund-textbox {
    margin: 0;
    padding: 0 0 0 16px;
    width: 100%;
    max-width: 563px;
  }
  .mostfund-bottom {
    margin: 0 auto;
  }
  .main-news-top-timelimited {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .time-limited-img-top {
    width: 100%;
    max-width: 134px;
    position: inherit;
    top: 0px;
    margin-bottom: 10px;
    background-color: white;
    color: #202020;
    font-size: 24px;
    border-bottom: solid 1px #202020;
    border-top: solid 1px #202020;
    border-radius: 0px;
  }
  .time-limited-title {
    display: flex;
    justify-content: center;
  }
  .time-limited-subtitle {
    display: flex;
    justify-content: center;
  }
  .time-limited-img {
    width: 100%;
    height: 45.54vw;
    max-height: 349.33px;
  }
  .tags-title {
    margin-bottom: 0;
  }
}
