.main-cards {
  width: 360px;
  height: 1080px;
  background-color: beige;
}

.main-cards-top {
  height: 530px;
  background-color: aqua;
}

.main-cards-top-donation {
  width: 360px;
  height: 249px;
  background-color: rgb(255, 232, 0);
  padding: 34px 26px 29px;
}
.main-cards-top-head {
  display: block;
  width: 308px;
  height: 60px;
}
.main-cards-top-txt {
  display: block;
  width: 129.25px;
  height: 60px;
  font-size: 20px;
  color: #202020;
}
.main-cards-top-donation-date {
  width: 308px;
  height: 25px;
  color: #00000080;
}
.heart-choonsik img {
  position: absolute;
  width: 105px;
  height: 132.98px;
}
