.main-cards-top {
  width: 360px;
  height: 530px;
  display: block;
  margin-bottom: 30px;
  border-radius: 12px 12px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
}

.main-cards-top-yellow {
  width: 360px;
  height: 249px;
  display: block;
  background-color: rgb(255, 232, 0);
  position: relative;
  padding: 34px 26px 29px;
  border-radius: 12px 12px 0px 0px;
}

.main-cards-top-head {
  width: 308px;
  height: 60px;
  display: block;
}

.main-cards-top-head-link {
  width: 129.25px;
  height: 60px;
}

.main-cards-top-head-txt {
  color: rgb(32, 32, 32);
  font-size: 20px;
  font-family: "KakaoBig Bold";
  line-height: 1.5;
}

.main-cards-top-yellow-date {
  width: 308px;
  height: 25px;
  display: block;
  font-size: 13px;
  color: #00000080;
  padding-top: 12px;
}

.main-cards-top-img {
  width: 105px;
  height: 133px;
  display: block;
  right: 20px;
  top: 19px;
  position: absolute;
  background-size: cover;
  /* 이미지 잘리지 않고 사이즈에 맞게 해줌 */
  background-image: url("../images/img_choonsik_231226.png");
}

.total-donation {
  background-color: #fff;
  width: 308px;
  height: 60px;
  display: block;
}

.total-donation-inner {
  /* background-color: aqua; */
  height: 60px;
  width: 100%;
  padding: 0 20px;
  margin-top: 41px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.total-donation-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  /* background-image: url("../images/ico_won.png"); */
  /* img태그에 백그라운드 이미지로 이미지 삽입시 테두리 발생 */
  background-size: cover;
}

.total-donation-txt {
  font-size: 16px;
  font-family: "KakaoBig Bold";
  color: #444;
}

.total-donation-amount {
  font-size: 18px;
  flex-grow: 1;
  /* 부모컨테이너에서 남은공간 다 차지 */
  font-family: "KakaoBig Bold";
  text-align: right;
  color: #202020;
}

.main-cards-top-white {
  width: 360px;
  height: 281px;
  background-color: #fff;
  padding: 31px 26px 46px;
  border-radius: 0px 0px 12px 12px;
  /* 그림자가 테두리 가려짐 */
  overflow: hidden;
}

.main-cards-top-white-head {
  width: 308px;
  height: 16px;
  display: block;
  /* background-color: aqua; */
}

.main-cards-top-white-head-h4 {
  font-size: 13px;
  color: #888;
  display: block;
}

.main-cards-top-white-body {
}

.main-cards-top-slider-container {
}

.main-cards-top-white-body-contents {
}

.main-cards-top-white-body-contents-link {
  width: 308px;
  height: 190.5px;
  background-color: palegoldenrod;
}

.main-cards-top-white-body-contents-wrap {
  width: 308px;
  height: 189.44px;
  padding-top: 18px;
  /* background-color: pink; */
}

.main-cards-top-white-body-contents-head {
  width: 308px;
  height: 72px;
  color: #444444;
  font-size: 18px;
  padding-top: 15px;
}

.main-cards-top-white-body-contents-txt {
  color: #4a4a4a;
  font-size: 14px;
  padding: 11px 0px 0px;
  line-height: 1.92;
}
